<section class="panel">        
    <div class="panel-heading">
    	<h3>Select Catgory</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="next()" name="categoryForm">
            <div class="form-group">
                <label class="col-md-3 control-label" for="business"><h4>Business</h4></label>
                <div class="col-md-6">
                 	<select ng-options = "business as business.name for business in businesses" required name = "business" class = 'form-control input-lg' ng-model = "business" ng-change="removeCategory()">
                 		<option value="">--Please select a business type--</option>
                 	</select>
             	</div>
         	</div>
         	<hr>
         	<div class="form-group">
                <label class="col-md-3 control-label" for="business_product_category_id"><h4>Product category</h4></label>
                <div class="col-md-6">
                 	<select required ng-options = "category.id as category.product_category.name for category in business.business_product_categories" name= "business_product_category_id " class = "form-control input-lg" ng-model = "product.business_product_category_id">
                 		<option value="">--Please select a product category--</option>
                 	</select>
             	</div>
         	</div>
         	<hr>
         	<div class="form-group text-center">
                <div class="col-md-12">
                 	<button type="submit" class="btn btn-primary btn-lg" ng-disabled="categoryForm.$invalid">{{categoryButtonText}}</button>
             	</div>
         	</div>
        </form>
    </div>
</section>