<hr>
<h1 class="text-center">What do you wish to do?</h1>
<hr>
<div class="col-sm-6">
	<a href="#" ui-sref="buy" class="deco-none">
		<section class="panel panel-horizontal appear-animation bounceInLeft appear-animation-visible">
			<header class="panel-heading bg-white">
				<div class="panel-heading-icon bg-primary mt-sm">
					<i class="fa fa-shopping-cart"></i>
				</div>
			</header>
			<div class="panel-body p-lg">
				<h1 class="text-semibold mt-sm">Buy</h1>
			</div>
		</section>
	</a>
</div>
<div class="col-sm-6">
	<a href="#" ui-sref="sell" class="deco-none">
		<section class="panel panel-horizontal appear-animation bounceInRight appear-animation-visible">
			<header class="panel-heading bg-white">
				<div class="panel-heading-icon bg-warning mt-sm">
					<i class="fa fa-rupee"></i>
				</div>
			</header>
			<div class="panel-body p-lg">
				<h1 class="text-semibold mt-sm">Sell</h1>
			</div>
		</section>
	</a>
</div>